[Unit]
Description=Update lunchclub calendar info

[Service]
User=rav
EnvironmentFile=/home/rav/codes/pyexchange/env.txt
WorkingDirectory=/home/rav/codes/pyexchange
ExecStart=/usr/bin/python update.py -erav@cs.au.dk -uau306325@uni.au.dk -penv:EWS_PASSWORD -c dummy
